.arrange-horizontally > * {
  display: inline-block;
  text-align: center;
  color: "red";
}
.arrange-vertically > * {
  display: block;
}
i {
  margin: 5px;
}
a {
  background: #ccc;
  cursor: pointer;
  border-top: solid 2px #eaeaea;
  border-left: solid 2px #eaeaea;
  border-bottom: solid 2px #777;
  border-right: solid 2px #777;
  padding: 0px 0px;
  margin: 3px;
}

a.down {
  background: #bbb;
  border-top: solid 2px #777;
  border-left: solid 2px #777;
  border-bottom: solid 2px #eaeaea;
  border-right: solid 2px #eaeaea;
}
